@model AboutIndexViewModel

@{
    ViewData["Title"] = "About";
}

<!-- Page Wrapper -->
<div id="wrapper">
    @await Html.PartialAsync("_SidebarPartial")
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            @await Html.PartialAsync("_TopbarPartial")
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header main-background py-3">
                        <h6 class="m-0 font-weight-bold text-white">About Page</h6>
                    </div>
                    <div class="card-body">
                        <h2 class="main-color">Main Photo</h2>
                        @if (Model.AboutMainPhoto == null)
                        {
                            <a href="/admin/about/define_main_photo" class="btn btn-primary mb-3">Define Main Photo</a>
                        }
                        else
                        {
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="main-color text-center">Photo</th>
                                            <th class="main-color text-center">Title(AZ)</th>
                                            <th class="main-color text-center">Title(RU)</th>
                                            <th class="main-color text-center">Title(EN)</th>
                                            <th class="main-color text-center">Title(TR)</th>
                                            <th class="main-color text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var photoPath = "/uploads/" + Model.AboutMainPhoto.PhotoName;
                                            <tr id="@Model.AboutMainPhoto.Id">
                                                <td class="text-center">
                                                    <img src="@photoPath" class="table-image-item" />
                                                </td>
                                                <td class="text-center">@Model.AboutMainPhoto.Title_AZ</td>
                                                <td class="text-center">@Model.AboutMainPhoto.Title_RU</td>
                                                <td class="text-center">@Model.AboutMainPhoto.Title_EN</td>
                                                <td class="text-center">@Model.AboutMainPhoto.Title_TR</td>
                                                <td class="text-center">
                                                    <div class="d-flex justify-content-center">
                                                        <a class="btn btn-primary" href="/admin/about/edit_main_photo/@Model.AboutMainPhoto.Id">Edit</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                        <br />

                        <h2 class="main-color">Component</h2>
                        @if (Model.AboutComponent == null)
                        {
                            <a href="/admin/about/define_component/" class="btn btn-primary mb-3">Define Component</a>
                        }
                        else
                        {
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="main-color text-center">Content(EN)</th>
                                            <th class="main-color text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="@Model.AboutComponent.Id">
                                            <td class="text-center">@Html.Raw(Model.AboutComponent.Content_EN)</td>
                                            <td class="text-center">
                                                <div class="d-flex justify-content-center">
                                                    <a class="btn btn-info mx-2" href="/admin/about/details_component">Details</a>
                                                    <a class="btn btn-primary" href="/admin/about/edit_component">Edit</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }

                        <br />

                        <h2 class="main-color">Page Access Component</h2>
                        @if (Model.PageAccessComponent == null)
                        {
                            <a href="/admin/about/define_page_access_component/" class="btn btn-primary mb-3">Define</a>
                        }
                        else
                        {
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="main-color text-center">Access1 (EN)</th>
                                            <th class="main-color text-center">Access2 (EN)</th>
                                            <th class="main-color text-center">Access3 (EN)</th>
                                            <th class="main-color text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            <tr id="@Model.PageAccessComponent.Id">
                                                <td class="text-center">@Model.PageAccessComponent.Access1_EN</td>
                                                <td class="text-center">@Model.PageAccessComponent.Access2_EN</td>
                                                <td class="text-center">@Model.PageAccessComponent.Access3_EN</td>
                                                <td class="text-center">
                                                    <div class="d-flex justify-content-center">
                                                        <a class="btn btn-info mx-2" href="/admin/about/details_page_access_component/@Model.PageAccessComponent.Id">Details</a>
                                                        <a class="btn btn-primary" href="/admin/about/edit_page_access_component/@Model.PageAccessComponent.Id">Edit</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).on("click", ".delete-photo", function () {

            var deleteBtn = $(this);
            var aboutPhoto = $(this).parents().eq(1);

            var data = {
                id: $(aboutPhoto).attr('id')
            }

            $.ajax({
                url: "@Url.Action("delete_photo","about")",
                data: data,
                success: function () {
                    $(deleteBtn).text("Deleted");
                    $(deleteBtn).removeClass("white-color").addClass("alert-success-text white-background confirmed");
                    $(deleteBtn).css("pointer-events", "none");
                    $(aboutPhoto).fadeOut("normal", function () {
                        $(this).remove();
                    });
                }
            })
        })
    </script>
}


