@model AboutViewModel

@{
    var lang = Url.ActionContext.RouteData.Values["lang"].ToString();
    ViewData["Title"] = "Prokon | About us";
    var mainPhotoPath = "/uploads/" + Model.PageMainPhoto?.PhotoName;
    ViewData["Image"] = "uploads/" + Model.PageMainPhoto?.PhotoName;
    ViewData["Description"] = Model.PageMainPhoto?.Title_EN;
    ViewData["Link"] = "about";
}

@await Html.PartialAsync("_HeaderPartial", Model.HeaderPartialViewModel)

<main>
    <section class="main-photo-section">
        <div class="main-photo position-relative" style="background-image: url('@mainPhotoPath');"></div>
        <div class="cover">
            <div class="container">
                <p class="main-photo-title position-absolute">
                    @if (lang == "az")
                    {
                        @Model.PageMainPhoto?.Title_AZ
                    }
                    else if (lang == "ru")
                    {
                        @Model.PageMainPhoto?.Title_RU
                    }
                    else if (lang == "en")
                    {
                        @Model.PageMainPhoto?.Title_EN
                    }
                    else if (lang == "tr")
                    {
                        @Model.PageMainPhoto?.Title_TR
                    }
                </p>
            </div>
        </div>
    </section>
    <section class="page-content-section">
        <div class="container">
            <div class="page-access">
                @if (lang == "az")
                {
                    <a href="/az" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_AZ
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/az/about" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_AZ
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_AZ))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/az/about" class="grey-color">
                            @Model.PageAccessComponent?.Access3_AZ
                        </a>
                    }
                }
                else if (lang == "ru")
                {
                    <a href="/ru" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_RU
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/ru/about" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_RU
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_RU))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/ru/about" class="grey-color">
                            @Model.PageAccessComponent?.Access3_RU
                        </a>
                    }
                }
                else if (lang == "en")
                {
                    <a href="/" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_EN
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/en/about" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_EN
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_EN))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/en/about" class="grey-color">
                            @Model.PageAccessComponent?.Access3_EN
                        </a>
                    }
                }
                else if (lang == "tr")
                {
                    <a href="/" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_TR
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/tr/about" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_TR
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_TR))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/tr/about" class="grey-color">
                            @Model.PageAccessComponent?.Access3_TR
                        </a>
                    }
                }
            </div>
            @{
                var order = 1;

                if (Model.AboutComponent != null)
                {
                    if (lang == "az")
                    {
                        @foreach (var splitedContent in Model.AboutComponent.SplitedContent_AZ)
                        {
                            <div class="about-component row">
                                @if (order % 2 == 1)
                                {
                                    <div class="col-12 col-md-6 mt-4 mt-md-0 d-flex align-items-center order-12 order-md-1" order="@order">
                                        <div class="about-component-text black-color">
                                            @splitedContent
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-12">
                                        @{
                                            var photo = Model.AboutComponent.AboutPhotos.Skip(order - 1).FirstOrDefault();

                                            if (photo != null)
                                            {
                                                var photoPath = "/uploads/" + photo.PhotoName;
                                                <img class="w-100" src="@photoPath" alt="">
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12 col-md-6 d-flex align-items-center" order="@order">
                                        @{
                                            var photo = Model.AboutComponent.AboutPhotos.Skip(order - 1).FirstOrDefault();

                                            if (photo != null)
                                            {
                                                var photoPath = "/uploads/" + photo.PhotoName;
                                                <img class="w-100" src="@photoPath" alt="">
                                            }
                                        }
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mt-md-0 d-flex align-items-center">
                                        <div class="about-component-text black-color">
                                            @splitedContent
                                        </div>
                                    </div>
                                }
                            </div>

                            order++;
                        }
                    }
                    else if (lang == "ru")
                    {
                        @foreach (var splitedContent in Model.AboutComponent.SplitedContent_RU)
                        {
                            <div class="about-component row">
                                @if (order % 2 == 1)
                                {
                                    <div class="col-12 col-md-6 mt-4 mt-md-0 d-flex align-items-center order-12 order-md-1" order="@order">
                                        <div class="about-component-text black-color">
                                            @splitedContent
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-12">
                                        @{
                                            var photo = Model.AboutComponent.AboutPhotos.Skip(order - 1).FirstOrDefault();

                                            if (photo != null)
                                            {
                                                var photoPath = "/uploads/" + photo.PhotoName;
                                                <img class="w-100" src="@photoPath" alt="">
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12 col-md-6 d-flex align-items-center" order="@order">
                                        @{
                                            var photo = Model.AboutComponent.AboutPhotos.Skip(order - 1).FirstOrDefault();

                                            if (photo != null)
                                            {
                                                var photoPath = "/uploads/" + photo.PhotoName;
                                                <img class="w-100" src="@photoPath" alt="">
                                            }
                                        }
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mt-md-0 d-flex align-items-center">
                                        <div class="about-component-text black-color">
                                            @splitedContent
                                        </div>
                                    </div>
                                }
                            </div>
                            order++;
                        }
                    }
                    else if (lang == "en")
                    {
                        @foreach (var splitedContent in Model.AboutComponent.SplitedContent_EN)
                        {
                            <div class="about-component row">
                                @if (order % 2 == 1)
                                {
                                    <div class="col-12 col-md-6 mt-4 mt-md-0 d-flex align-items-center order-12 order-md-1" order="@order">
                                        <div class="about-component-text black-color">
                                            @splitedContent
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-12">
                                        @{
                                            var photo = Model.AboutComponent.AboutPhotos.Skip(order - 1).FirstOrDefault();

                                            if (photo != null)
                                            {
                                                var photoPath = "/uploads/" + photo.PhotoName;
                                                <img class="w-100" src="@photoPath" alt="">
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12 col-md-6 d-flex align-items-center" order="@order">
                                        @{
                                            var photo = Model.AboutComponent.AboutPhotos.Skip(order - 1).FirstOrDefault();

                                            if (photo != null)
                                            {
                                                var photoPath = "/uploads/" + photo.PhotoName;
                                                <img class="w-100" src="@photoPath" alt="">
                                            }
                                        }
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mt-md-0 d-flex align-items-center">
                                        <div class="about-component-text black-color">
                                            @splitedContent
                                        </div>
                                    </div>
                                }
                            </div>

                            order++;
                        }
                    }
                    else if (lang == "tr")
                    {
                        @foreach (var splitedContent in Model.AboutComponent?.SplitedContent_TR)
                        {
                            <div class="about-component row">
                                @if (order % 2 == 1)
                                {
                                    <div class="col-12 col-md-6 mt-4 mt-md-0 d-flex align-items-center order-12 order-md-1" order="@order">
                                        <div class="about-component-text black-color">
                                            @splitedContent
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-12">
                                        @{
                                            var photo = Model.AboutComponent?.AboutPhotos.Skip(order - 1).FirstOrDefault();

                                            if (photo != null)
                                            {
                                                var photoPath = "/uploads/" + photo.PhotoName;
                                                <img class="w-100" src="@photoPath" alt="">
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12 col-md-6 d-flex align-items-center" order="@order">
                                        @{
                                            var photo = Model.AboutComponent?.AboutPhotos.Skip(order - 1).FirstOrDefault();

                                            if (photo != null)
                                            {
                                                var photoPath = "/uploads/" + photo.PhotoName;
                                                <img class="w-100" src="@photoPath" alt="">
                                            }
                                        }
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mt-md-0 d-flex align-items-center">
                                        <div class="about-component-text black-color">
                                            @splitedContent
                                        </div>
                                    </div>
                                }
                            </div>

                            order++;
                        }
                    }
                }
            }
        </div>
    </section>
</main>

@await Html.PartialAsync("_FooterPartial", Model.FooterPartialViewModel)
@await Html.PartialAsync("_MobileMenuPartial", Model.MobileMenuPartialViewModel)