@model List<GalleryComponent>

@{
    ViewData["Title"] = "Gallery Components";
}

<!-- Page Wrapper -->
<div id="wrapper">
    @await Html.PartialAsync("_SidebarPartial")
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            @await Html.PartialAsync("_TopbarPartial")
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header main-background py-3">
                        <h6 class="m-0 font-weight-bold text-white">Gallery Components</h6>
                    </div>
                    <div class="card-body">
                        <a href="/admin/gallery/add" class="btn btn-primary mb-3">Add</a>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="main-color text-center">Title Photo</th>
                                        <th class="main-color text-center">Title(AZ)</th>
                                        <th class="main-color text-center">Title(RU)</th>
                                        <th class="main-color text-center">Title(EN)</th>
                                        <th class="main-color text-center">Title(TR)</th>
                                        <th class="main-color text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var galleryComponent in Model)
                                    {
                                        var photoPath = "/uploads/" + galleryComponent.TitlePhotoName;
                                        <tr id="@galleryComponent.Id">
                                            <td class="text-center">
                                                <img src="@photoPath" class="table-image-item" />
                                            </td>
                                            <td class="text-center">@galleryComponent.Title_AZ</td>
                                            <td class="text-center">@galleryComponent.Title_RU</td>
                                            <td class="text-center">@galleryComponent.Title_EN</td>
                                            <td class="text-center">@galleryComponent.Title_TR</td>
                                            <td class="text-center">
                                                <div class="d-flex justify-content-center">
                                                    <a href="/admin/gallery/edit/@galleryComponent.Id" class="btn btn-primary">Edit</a>
                                                    <a href="/admin/gallery/details/@galleryComponent.Id" class="btn btn-info mx-2">Details</a>
                                                    <a class="btn btn-danger delete-btn text-white">Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).on("click", ".delete-btn", function () {

            var deleteBtn = $(this);
            var galleryComponent = $(this).parents().eq(2);

            var data = {
                id: $(galleryComponent).attr('id')
            }

            $.ajax({
                url: "/admin/gallery/delete",
                data: data,
                success: function () {
                    $(deleteBtn).text("Deleted");
                    $(galleryComponent).fadeOut("normal", function () {
                        $(this).remove();
                    });
                }
            })
        })
    </script>
}