@model PressViewModel

@{
    var lang = Url.ActionContext.RouteData.Values["lang"].ToString();
    ViewData["Title"] = "Prokon | Press Release";
    var mainPhotoPath = "/uploads/" + Model.PageMainPhoto?.PhotoName;
    ViewData["Image"] = "uploads/" + Model.PageMainPhoto?.PhotoName; ;
    ViewData["Description"] = Model.PageMainPhoto?.Title_EN;
    ViewData["Link"] = "press";
}

@await Html.PartialAsync("_HeaderPartial", Model.HeaderPartialViewModel)

<main>
    <section class="main-photo-section">
        <div class="main-photo position-relative" style="background-image: url('@mainPhotoPath');"></div>
        <div class="cover">
            <div class="container">
                <p class="main-photo-title position-absolute">
                    @if (lang == "az")
                    {
                        @Model.PageMainPhoto?.Title_AZ
                    }
                    else if (lang == "ru")
                    {
                        @Model.PageMainPhoto?.Title_RU
                    }
                    else if (lang == "en")
                    {
                        @Model.PageMainPhoto?.Title_EN
                    }
                    else if (lang == "tr")
                    {
                        @Model.PageMainPhoto?.Title_TR
                    }
                </p>
            </div>
        </div>
    </section>
    <section class="page-content-section">
        <div class="container">
            <div class="page-access">
                @if (lang == "az")
                {
                    <a href="/az" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_AZ
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/az/press" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_AZ
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_AZ))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/az/press" class="grey-color">
                            @Model.PageAccessComponent?.Access3_AZ
                        </a>
                    }
                }
                else if (lang == "ru")
                {
                    <a href="/ru" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_RU
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/ru/press" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_RU
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_RU))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/ru/press" class="grey-color">
                            @Model.PageAccessComponent?.Access3_RU
                        </a>
                    }
                }
                else if (lang == "en")
                {
                    <a href="/" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_EN
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/en/press" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_EN
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_EN))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/en/press" class="grey-color">
                            @Model.PageAccessComponent?.Access3_EN
                        </a>
                    }
                }
                else if (lang == "tr")
                {
                    <a href="/" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_TR
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/tr/press" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_TR
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_TR))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/tr/press" class="grey-color">
                            @Model.PageAccessComponent?.Access3_TR
                        </a>
                    }
                }
            </div>
            <div class="content-access d-flex justify-content-center">
                <div class="c-access news-access active-access main-color d-inline-block mr-5 position-relative">
                    @{
                        if (lang == "az")
                        {
                            @Model.ContentAccessComponent?.Access1_AZ
                        }
                        else if (lang == "ru")
                        {
                            @Model.ContentAccessComponent?.Access1_RU
                        }
                        else if (lang == "en")
                        {
                            @Model.ContentAccessComponent?.Access1_EN
                        }
                        else if (lang == "tr")
                        {
                            @Model.ContentAccessComponent?.Access1_TR
                        }
                    }
                </div>
                @if (Model.Communities.Count > 0)
                {
                    <div class="c-access community-access main-color d-inline-block position-relative">
                        @{
                            if (lang == "az")
                            {
                                @Model.ContentAccessComponent?.Access2_AZ
                            }
                            else if (lang == "ru")
                            {
                                @Model.ContentAccessComponent?.Access2_RU
                            }
                            else if (lang == "en")
                            {
                                @Model.ContentAccessComponent?.Access2_EN
                            }
                            else if (lang == "tr")
                            {
                                @Model.ContentAccessComponent?.Access2_TR
                            }
                        }
                    </div>
                }
            </div>
            <div class="row p-news-components">
                @foreach (var news in Model.News)
                {
                    var photoPath = "/uploads/" + news.PhotoName;

                    <div class="col-12 col-md-6 mb-20">
                        @{
                            var link = "/" + lang + "/news/details/" + news.Slug;
                        }
                        <div class="news-component position-relative">
                            <a href="@link" class="news-component-anchor"></a>
                            <div class="news-component-top w-100"
                                 style="background-image: url('@photoPath');">
                            </div>
                            <div class="news-component-bottom">
                                <div class="news-component-bottom-content">
                                    <p class="main-color news-component-bottom-content-title">
                                        @if (lang == "az")
                                        {
                                            @news.Title_AZ
                                        }
                                        else if (lang == "ru")
                                        {
                                            @news.Title_RU
                                        }
                                        else if (lang == "en")
                                        {
                                            @news.Title_EN
                                        }
                                        else if (lang == "tr")
                                        {
                                            @news.Title_TR
                                        }
                                    </p>
                                    <div class="main-color news-component-bottom-content-text">
                                        @if (lang == "az")
                                        {
                                            @Html.Raw(news.Content_AZ)
                                        }
                                        else if (lang == "ru")
                                        {
                                            @Html.Raw(news.Content_RU)
                                        }
                                        else if (lang == "en")
                                        {
                                            @Html.Raw(news.Content_EN)
                                        }
                                        else if (lang == "tr")
                                        {
                                            @Html.Raw(news.Content_TR)
                                        }
                                    </div>
                                    <div class="news-component-bottom__bottom d-flex justify-content-between mt-5">
                                        <p class="main-color-2 news-location">
                                            @if (lang == "az")
                                            {
                                                @news.Location_AZ
                                            }
                                            else if (lang == "ru")
                                            {
                                                @news.Location_RU
                                            }
                                            else if (lang == "en")
                                            {
                                                @news.Location_EN
                                            }
                                            else if (lang == "tr")
                                            {
                                                @news.Location_TR
                                            }
                                        </p>
                                        <p class="main-color-2 news-date">
                                            @news.CreatedAt.ToString("dd.MM.yyyy")
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row community-components d-none">
                @foreach (var community in Model.Communities)
                {
                    var photoPath = "/uploads/" + community.PhotoName;
                    var link = "/" + lang + "/news/details/" + community.Slug;

                    <div class="col-12 col-md-6 mb-20">
                        <div class="news-component">
                            <a href="@link" class="news-component-anchor"></a>
                            <div class="news-component-top w-100"
                                 style="background-image: url('@photoPath');">
                            </div>
                            <div class="news-component-bottom">
                                <div class="news-component-bottom-content">
                                    <p class="main-color news-component-bottom-content-title">
                                        @if (lang == "az")
                                        {
                                            @community.Title_AZ
                                        }
                                        else if (lang == "ru")
                                        {
                                            @community.Title_RU
                                        }
                                        else if (lang == "en")
                                        {
                                            @community.Title_EN
                                        }
                                        else if (lang == "tr")
                                        {
                                            @community.Title_TR
                                        }
                                    </p>
                                    <div class="main-color news-component-bottom-content-text">
                                        @if (lang == "az")
                                        {
                                            @Html.Raw(community.Content_AZ)
                                        }
                                        else if (lang == "ru")
                                        {
                                            @Html.Raw(community.Content_RU)
                                        }
                                        else if (lang == "en")
                                        {
                                            @Html.Raw(community.Content_EN)
                                        }
                                        else if (lang == "tr")
                                        {
                                            @Html.Raw(community.Content_TR)
                                        }
                                    </div>
                                    <div class="news-component-bottom__bottom d-flex justify-content-between mt-5">
                                        <p class="main-color-2 news-location">
                                            @if (lang == "az")
                                            {
                                                @community.Location_AZ
                                            }
                                            else if (lang == "ru")
                                            {
                                                @community.Location_RU
                                            }
                                            else if (lang == "en")
                                            {
                                                @community.Location_EN
                                            }
                                            else if (lang == "tr")
                                            {
                                                @community.Location_TR
                                            }
                                        </p>
                                        <p class="main-color-2 news-date">
                                            @community.CreatedAt.ToString("dd.MM.yyyy")
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>


@await Html.PartialAsync("_FooterPartial", Model.FooterPartialViewModel)
@await Html.PartialAsync("_MobileMenuPartial", Model.MobileMenuPartialViewModel)


@section Scripts{
    <script src="~/js/press.js"></script>
}