@model GalleryViewModel

@{
    var lang = Url.ActionContext.RouteData.Values["lang"].ToString();
    ViewData["Title"] = "Prokon | Gallery";
    var mainPhotoPath = "/uploads/" + Model.PageMainPhoto?.PhotoName;
    ViewData["Image"] = "uploads/" + Model.PageMainPhoto?.PhotoName; ;
    ViewData["Description"] = Model.PageMainPhoto?.Title_EN;
    ViewData["Link"] = "gallery";
}

@await Html.PartialAsync("_HeaderPartial", Model.HeaderPartialViewModel)

<main>
    <section class="main-photo-section">
        <div class="main-photo position-relative" style="background-image: url('@mainPhotoPath');"></div>
        <div class="cover">
            <div class="container">
                <p class="main-photo-title position-absolute">
                    @if (lang == "az")
                    {
                        @Model.PageMainPhoto?.Title_AZ
                    }
                    else if (lang == "ru")
                    {
                        @Model.PageMainPhoto?.Title_RU
                    }
                    else if (lang == "en")
                    {
                        @Model.PageMainPhoto?.Title_EN
                    }
                    else if (lang == "tr")
                    {
                        @Model.PageMainPhoto?.Title_TR
                    }
                </p>
            </div>
        </div>
    </section>
    <section class="page-content-section">
        <div class="container">
            <div class="page-access">
                @if (lang == "az")
                {
                    <a href="/az" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_AZ
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/az/gallery" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_AZ
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_AZ))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/az/gallery" class="grey-color">
                            @Model.PageAccessComponent?.Access3_AZ
                        </a>
                    }
                }
                else if (lang == "ru")
                {
                    <a href="/ru" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_RU
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/ru/gallery" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_RU
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_RU))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/ru/gallery" class="grey-color">
                            @Model.PageAccessComponent?.Access3_RU
                        </a>
                    }
                }
                else if (lang == "en")
                {
                    <a href="/" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_EN
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/en/gallery" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_EN
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_EN))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/en/gallery" class="grey-color">
                            @Model.PageAccessComponent?.Access3_EN
                        </a>
                    }
                }
                else if (lang == "tr")
                {
                    <a href="/" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_TR
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/tr/gallery" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_TR
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_TR))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/tr/gallery" class="grey-color">
                            @Model.PageAccessComponent?.Access3_TR
                        </a>
                    }
                }
            </div>
            <div class="gallery-components row">
                @{
                    var order = 1;
                    foreach (var galleryComponent in Model.GalleryComponents)
                    {
                        <div class="col-12 col-md-6 mb-4">
                            <div class="gallery-component" order="@order">
                                <div class="gallery-component-top"
                                     @{ var photoPath = "/uploads/" + galleryComponent.TitlePhotoName; }
                                     style="background-image: url('@photoPath');">
                                </div>
                                <div class="gallery-component-bottom">
                                    <div class="gallery-component-bottom-wrapper">
                                        <span class="gallery-component-text main-color">
                                            @if (lang == "az")
                                            {
                                                @galleryComponent.Title_AZ
                                            }
                                            else if (lang == "ru")
                                            {
                                                @galleryComponent.Title_RU
                                            }
                                            else if (lang == "en")
                                            {
                                                @galleryComponent.Title_EN
                                            }
                                            else if (lang == "tr")
                                            {
                                                @galleryComponent.Title_TR
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        order++;
                    }
                }
            </div>
        </div>
    </section>
    <section class="gallery-collection d-flex">
        <div class="gallery-modal">
            @{
                var order_ = 1;
                foreach (var galleryComponent in Model.GalleryComponents)
                {
                    <div class="gallery-component-collection" order="@order_">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    @if (lang == "az")
                                    {
                                        <p class="d-block d-md-none">@galleryComponent.Title_AZ</p>
                                    }
                                    else if (lang == "ru")
                                    {
                                        <p class="d-block d-md-none">@galleryComponent.Title_RU</p>
                                    }
                                    else if (lang == "en")
                                    {
                                        <p class="d-block d-md-none">@galleryComponent.Title_EN</p>
                                    }
                                    else if (lang == "tr")
                                    {
                                        <p class="d-block d-md-none">@galleryComponent.Title_TR</p>
                                    }
                                    <div class="thumbnails">
                                        @{
                                            var photoPath_ = "/uploads/" + galleryComponent.TitlePhotoName;
                                        }

                                        <div class="thumbnail mb-3" order="@order_"
                                             style="background-image: url('@photoPath_');">
                                        </div>
                                        @foreach (var galleryComponentPhoto in galleryComponent.GalleryComponentPhotos)
                                        {
                                            var photoPath = "/uploads/" + galleryComponentPhoto.PhotoName;
                                            <div class="thumbnail mb-3" order="@order_"
                                                 style="background-image: url('@photoPath');">
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-9 d-none d-md-block">
                                    @{
                                        var activePhotoPath = "/uploads/" + galleryComponent.TitlePhotoName;
                                    }
                                    <div class="gallery-active-photo" order="@order_" style="background-image: url('@activePhotoPath')">
                                    </div>
                                    @if (lang == "az")
                                    {
                                        <p>@galleryComponent.Title_AZ</p>
                                    }
                                    else if (lang == "ru")
                                    {
                                        <p>@galleryComponent.Title_RU</p>
                                    }
                                    else if (lang == "en")
                                    {
                                        <p>@galleryComponent.Title_EN</p>
                                    }
                                    else if (lang == "tr")
                                    {
                                        <p>@galleryComponent.Title_TR</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    order_++;
                }
            }
        </div>
    </section>
</main>

@await Html.PartialAsync("_FooterPartial", Model.FooterPartialViewModel)
@await Html.PartialAsync("_MobileMenuPartial", Model.MobileMenuPartialViewModel)

@section Scripts{
    <script src="~/js/gallery.js"></script>
}