@model ContactComponent

<!-- Page Wrapper -->
<div id="wrapper">
    @await Html.PartialAsync("_SidebarPartial")
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            @await Html.PartialAsync("_TopbarPartial")
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header main-background py-3 d-flex align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-white">Contact Component Details</h6>
                        <div>
                            <a asp-action="index" asp-controller="contact" class="btn btn-primary">Back to List</a>
                            <a asp-action="edit_component" asp-controller="contact" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row main-color">
                                <div class="col-12">
                                    <h4 class="main-color">Title</h4>
                                    <hr />
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-6 font-weight-bold">
                                            @Html.DisplayNameFor(model => model.Title_AZ)
                                        </div>
                                        <div class="col-6">
                                            @Html.DisplayFor(model => model.Title_AZ)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-6 font-weight-bold">
                                            @Html.DisplayNameFor(model => model.Title_RU)
                                        </div>
                                        <div class="col-6">
                                            @Html.DisplayFor(model => model.Title_RU)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-6 font-weight-bold">
                                            @Html.DisplayNameFor(model => model.Title_EN)
                                        </div>
                                        <div class="col-6">
                                            @Html.DisplayFor(model => model.Title_EN)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-6 font-weight-bold">
                                            @Html.DisplayNameFor(model => model.Title_TR)
                                        </div>
                                        <div class="col-6">
                                            @Html.DisplayFor(model => model.Title_TR)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <h4 class="main-color">Content</h4>
                                    <hr />
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-6 font-weight-bold">
                                            @Html.DisplayNameFor(model => model.Content_AZ)
                                        </div>
                                        <div class="col-6">
                                            @Html.Raw(Model.Content_AZ)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-6 font-weight-bold">
                                            @Html.DisplayNameFor(model => model.Content_RU)
                                        </div>
                                        <div class="col-6">
                                            @Html.Raw(Model.Content_RU)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-6 font-weight-bold">
                                            @Html.DisplayNameFor(model => model.Content_EN)
                                        </div>
                                        <div class="col-6">
                                            @Html.Raw(Model.Content_EN)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-6 font-weight-bold">
                                            @Html.DisplayNameFor(model => model.Content_TR)
                                        </div>
                                        <div class="col-6">
                                            @Html.Raw(Model.Content_TR)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="col-12 mt-3">
                                        <h4 class="main-color">Photo</h4>
                                        <hr />
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="row">
                                            <div class="col-6 font-weight-bold">
                                                Photo
                                            </div>
                                            <div class="col-6">
                                                @{
                                                    var photoPath = "/uploads/" + Model.PhotoName;
                                                }
                                                <img src="@photoPath" class="table-image-item" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

