@model ProjectViewModel

@{
    var lang = Url.ActionContext.RouteData.Values["lang"].ToString();
    ViewData["Title"] = "Prokon | Project";
    var mainPhotoPath = "/uploads/" + Model.PageMainPhoto?.PhotoName;
    ViewData["Image"] = "uploads/" + Model.PageMainPhoto?.PhotoName;
    ViewData["Description"] = Model.PageMainPhoto?.Title_EN;
}

@await Html.PartialAsync("_HeaderPartial", Model.HeaderPartialViewModel)

<main>
    <section class="main-photo-section">
        <div class="main-photo position-relative" style="background-image: url('@mainPhotoPath');"></div>
        <div class="cover">
            <div class="container">
                <p class="main-photo-title position-absolute">
                    @if (lang == "az")
                    {
                        @Model.PageMainPhoto?.Title_AZ
                    }
                    else if (lang == "ru")
                    {
                        @Model.PageMainPhoto?.Title_RU
                    }
                    else if (lang == "en")
                    {
                        @Model.PageMainPhoto?.Title_EN
                    }
                    else if (lang == "tr")
                    {
                        @Model.PageMainPhoto?.Title_TR
                    }
                </p>
            </div>
        </div>
    </section>
    <section class="page-content-section">
        <div class="container">
            <div class="page-access">
                @if (lang == "az")
                {
                    <a href="/az" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_AZ
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/az/project" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_AZ
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_AZ))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/az/project" class="grey-color">
                            @Model.PageAccessComponent?.Access3_AZ
                        </a>
                    }
                }
                else if (lang == "ru")
                {
                    <a href="/ru" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_RU
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/ru/project" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_RU
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_RU))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/ru/project" class="grey-color">
                            @Model.PageAccessComponent?.Access3_RU
                        </a>
                    }
                }
                else if (lang == "en")
                {
                    <a href="/" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_EN
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/en/project" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_EN
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_EN))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/en/project" class="grey-color">
                            @Model.PageAccessComponent?.Access3_EN
                        </a>
                    }
                }
                else if (lang == "tr")
                {
                    <a href="/" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access1_TR
                    </a>
                    <span class="black-color pr-2">/</span>
                    <a href="/tr/project" class="black-color pr-2">
                        @Model.PageAccessComponent?.Access2_TR
                    </a>
                    if (!string.IsNullOrEmpty(Model.PageAccessComponent?.Access3_TR))
                    {
                        <span class="black-color pr-2">/</span>
                        <a href="/tr/project" class="grey-color">
                            @Model.PageAccessComponent?.Access3_TR
                        </a>
                    }
                }
            </div>
            <div class="content-access project-access d-flex justify-content-center">
                <div class="c-access active-access current-access main-color d-inline-block mr-5 position-relative">
                    @{
                        if (lang == "az")
                        {
                            @Model.ContentAccessComponent?.Access1_AZ
                        }
                        else if (lang == "ru")
                        {
                            @Model.ContentAccessComponent?.Access1_RU
                        }
                        else if (lang == "en")
                        {
                            @Model.ContentAccessComponent?.Access1_EN
                        }
                        else if (lang == "tr")
                        {
                            @Model.ContentAccessComponent?.Access1_TR
                        }
                    }
                </div>
                <div class="c-access completed-access main-color d-inline-block position-relative">
                    @{
                        if (lang == "az")
                        {
                            @Model.ContentAccessComponent?.Access2_AZ
                        }
                        else if (lang == "ru")
                        {
                            @Model.ContentAccessComponent?.Access2_RU
                        }
                        else if (lang == "en")
                        {
                            @Model.ContentAccessComponent?.Access2_EN
                        }
                        else if (lang == "tr")
                        {
                            @Model.ContentAccessComponent?.Access2_TR
                        }
                    }
                </div>
            </div>
            <div class="projects">
                <div class="current-project-components">
                    @{
                        var order = 1;
                        foreach (var currentProject in Model.CurrentProjects)
                        {
                            var link = "/" + lang + "/project/details/" + currentProject.Slug;
                            if (order % 2 != 1)
                            {
                                <div class="project-component row mb-5">
                                    <div class="col-12 col-md-8 d-flex align-items-center">
                                        <a href="@link">
                                            @{
                                                var currentProjPhotoPath = "/uploads/" + currentProject.TitlePhotoName;
                                            }
                                            <img class="w-100" src="@currentProjPhotoPath">
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-4 d-flex align-items-center mt-3 mt-md-0">
                                        <div class="project-component-content w-100">
                                            <a href="@link" class="d-block project-component-title main-color mb-3">
                                                @if (lang == "az")
                                                {
                                                    @currentProject.Name_AZ
                                                }
                                                else if (lang == "ru")
                                                {
                                                    @currentProject.Name_RU
                                                }
                                                else if (lang == "en")
                                                {
                                                    @currentProject.Name_EN
                                                }
                                                else if (lang == "tr")
                                                {
                                                    @currentProject.Name_TR
                                                }
                                            </a>
                                            <div class="project-component-content-bottom d-flex justify-content-between">
                                                <span class="project-location main-color-2">
                                                    @if (lang == "az")
                                                    {
                                                        @currentProject.Location_AZ
                                                    }
                                                    else if (lang == "ru")
                                                    {
                                                        @currentProject.Location_RU
                                                    }
                                                    else if (lang == "en")
                                                    {
                                                        @currentProject.Location_EN
                                                    }
                                                    else if (lang == "tr")
                                                    {
                                                        @currentProject.Location_TR
                                                    }
                                                </span>
                                                <span class="project-date main-color-2">
                                                    @currentProject.StartingDate.Year
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="project-component row mb-5">
                                    <div class="col-12 col-md-4 d-flex align-items-center order-12 order-md-1 mt-3 mt-md-0">
                                        <div class="project-component-content w-100">
                                            <a href="@link" class="d-block project-component-title main-color mb-3">
                                                @if (lang == "az")
                                                {
                                                    @currentProject.Name_AZ
                                                }
                                                else if (lang == "ru")
                                                {
                                                    @currentProject.Name_RU
                                                }
                                                else if (lang == "en")
                                                {
                                                    @currentProject.Name_EN
                                                }
                                                else if (lang == "tr")
                                                {
                                                    @currentProject.Name_TR
                                                }
                                            </a>
                                            <div class="project-component-content-bottom d-flex justify-content-between">
                                                <span class="project-location main-color-2">
                                                    @if (lang == "az")
                                                    {
                                                        @currentProject.Location_AZ
                                                    }
                                                    else if (lang == "ru")
                                                    {
                                                        @currentProject.Location_RU
                                                    }
                                                    else if (lang == "en")
                                                    {
                                                        @currentProject.Location_EN
                                                    }
                                                    else if (lang == "tr")
                                                    {
                                                        @currentProject.Location_TR
                                                    }
                                                </span>
                                                <span class="project-date main-color-2">
                                                    @currentProject.StartingDate.Year
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8 d-flex align-items-center order-1 order-md-12">
                                        <a href="@link">
                                            @{
                                                var currentProjPhotoPath = "/uploads/" + currentProject.TitlePhotoName;
                                            }
                                            <img class="w-100" src="@currentProjPhotoPath">
                                        </a>
                                    </div>
                                </div>
                            }

                            order++;
                        }
                    }
                </div>
                <div class="completed-project-components row d-none">
                    @foreach (var completedProject in Model.CompletedProjects)
                    {
                        var link = "/" + lang + "/project/details/" + completedProject.Slug;
                        <div class="col-12 col-md-6 col-xl-4 mb-20">
                            <a href="@link" class="completed-project-component">
                                <div class="completed-project-component-image">
                                    @{
                                        var completedProjPhotoPath = "/uploads/" + completedProject.TitlePhotoName;
                                    }
                                    <img class="w-100" src="@completedProjPhotoPath">
                                </div>
                                <div class="completed-project-component-content">
                                    <h1 class="completed-project-component-title main-color">
                                        @if (lang == "az")
                                        {
                                            @completedProject.Name_AZ
                                        }
                                        else if (lang == "ru")
                                        {
                                            @completedProject.Name_RU
                                        }
                                        else if (lang == "en")
                                        {
                                            @completedProject.Name_EN
                                        }
                                        else if (lang == "tr")
                                        {
                                            @completedProject.Name_TR
                                        }
                                    </h1>
                                    <div class="completed-project-component-content-bottom d-flex justify-content-between mt-4">
                                        <span class="completed-project-location main-color-2 w-75">
                                            @if (lang == "az")
                                            {
                                                @completedProject.Location_AZ
                                            }
                                            else if (lang == "ru")
                                            {
                                                @completedProject.Location_RU
                                            }
                                            else if (lang == "en")
                                            {
                                                @completedProject.Location_EN
                                            }
                                            else if (lang == "tr")
                                            {
                                                @completedProject.Location_TR
                                            }
                                        </span>
                                        <span class="completed-project-date main-color-2 d-flex align-items-center">
                                            @completedProject.CompletedDate?.Year
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</main>

@await Html.PartialAsync("_FooterPartial", Model.FooterPartialViewModel)
@await Html.PartialAsync("_MobileMenuPartial", Model.MobileMenuPartialViewModel)


@section Scripts{
    <script src="~/js/projects.js"></script>
}